<a href="https://colab.research.google.com/github/HemanjaliGadupudi/ICP1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Part a: Modify and Reverse a String

# Input the string as a list of characters
input_str = input("Enter the string: ")  # Example input: Python
char_list = list(input_str)

# Delete at least two characters (e.g., remove characters at index 0 and 4)
# Ensure the indices exist to avoid IndexError
indices_to_remove = [0, 4]
for index in sorted(indices_to_remove, reverse=True):
    if 0 <= index < len(char_list):
        del char_list[index]

# Reverse the resultant list
char_list.reverse()

# Convert the list back to a string and print
result_str = ''.join(char_list)
print("Modified and Reversed String:", result_str)

Enter the string: name
Modified and Reversed String: ema

In [2]:
# Part b: Arithmetic Operations on Two Numbers

# Take two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2

# Handle division by zero
if num2 != 0:
    division = num1 / num2
else:
    division = "Undefined (division by zero)"

# Display the results
print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter the first number: 29
Enter the second number: 12
Addition: 41.0
Subtraction: 17.0
Multiplication: 348.0
Division: 2.4166666666666665

In [3]:
# Accept a sentence from the user
sentence = input("Enter a sentence: ")

# Use the replace() method to change 'python' to 'pythons'
# This replaces all occurrences (case-sensitive)
updated = sentence.replace("python", "pythons")

# Print the result
print(updated)

Enter a sentence: i am using colab
i am using colab

In [4]:
# Accept a numeric score from the user
score = float(input("Enter your class score (0–100): "))

# Determine the letter grade using if‑elif‑else
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"Your letter grade is: {grade}")

Enter your class score (0–100): 95
Your letter grade is: A

In [5]:
# Given list
x = [23, 'Python', 23.98]

# Print original list
print(x)

# Create a new list with the type of each element
types_list = [type(item) for item in x]

# Print the list of types
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [6]:
# Given data
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of IT_companies
print("1. Number of companies:", len(IT_companies))

# 2. Add 'Twitter'
IT_companies.add('Twitter')
print("2. After adding Twitter:", IT_companies)

# 3. Insert multiple IT companies at once
IT_companies.update(['Spotify', 'Tesla', 'Netflix'])
print("3. After adding multiple:", IT_companies)

# 4. Remove one company
IT_companies.remove('IBM')  # Raises KeyError if not found
print("4. After removing IBM:", IT_companies)

# 5. Difference between remove and discard
#    remove() throws KeyError if missing; discard() does nothing
#    (explanation in comments below)

# 6. Join A and B (union)
union_AB = A.union(B)
print("6. A ∪ B:", union_AB)

# 7. A intersection B
intersection_AB = A.intersection(B)
print("7. A ∩ B:", intersection_AB)

# 8. Is A subset of B?
print("8. Is A ⊆ B?", A.issubset(B))

# 9. Are A and B disjoint?
print("9. Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A (same as union, but show both)
print("10a. A ∪ B:", A | B)
print("10b. B ∪ A:", B.union(A))

# 11. Symmetric difference between A and B
sym_diff = A.symmetric_difference(B)
print("11. A Δ B (sym diff):", sym_diff)

# 12. Delete the sets completely
del A
del B

# 13. Convert ages to set and compare lengths
age_set = set(age)
print("13. List length:", len(age))
print("    Set length:", len(age_set))

1. Number of companies: 7
2. After adding Twitter: {'Google', 'Twitter', 'Facebook', 'IBM', 'Oracle', 'Apple', 'Amazon', 'Microsoft'}
3. After adding multiple: {'Google', 'Twitter', 'Apple', 'Amazon', 'Tesla', 'Facebook', 'Oracle', 'Netflix', 'IBM', 'Spotify', 'Microsoft'}
4. After removing IBM: {'Google', 'Twitter', 'Apple', 'Amazon', 'Tesla', 'Facebook', 'Oracle', 'Netflix', 'Spotify', 'Microsoft'}
6. A ∪ B: {19, 20, 22, 24, 25, 26, 27, 28}
7. A ∩ B: {19, 20, 22, 24, 25, 26}
8. Is A ⊆ B? True
9. Are A and B disjoint? False
10a. A ∪ B: {19, 20, 22, 24, 25, 26, 27, 28}
10b. B ∪ A: {19, 20, 22, 24, 25, 26, 27, 28}
11. A Δ B (sym diff): {27, 28}
13. List length: 8
    Set length: 5